<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Subject" value="Maths|Physics|Chemistry" />       
        <add key= "Designation" value="Clerk|Office Assistant"/>
        <add key = "Department" value="CSE|EEE"/>
        <add key = "connectionstring" value= "Server=DESKTOP-ROBHQ7Q;Database=School Database;Trusted_Connection=True"/>
    </appSettings>
</configuration>